# This file is basically used to tell the elasticbean stalk that this is our application

# This tells to open the settings go for aws in which the elasticbeanstalk and the container will be python
option_settings:
  "aws:elasticbeanstalk:container:python":
    WSGIPath: application:application                           # WSGIPath: file name and followed by entry name
#                                                                 # If we go and see the app.py file there is the instance which is named as application , that's the reason
#                                                                 # Since we don't have the file name as application.py we will create it for the deployment purpose




# So for the AWS deployment this are the only settings we need to change in the code file that is 
# 1.) Creare .ebextension folder 
# 2.) Inside folder create an python.config file 
# 3.) Write the open_settings and the file path and the entry point of the application i.e  # file_name:app_instance
# 4.) Create a file named application.py if not exists then during hosting remove the debug = True