# This file is basically used to tell the elasticbean stalk that this is our application

# This tells to open the settings go for aws in which the elasticbeanstalk and the container will be python
option_settings:
  "aws:elasticbeanstalk:container:python":
    WSGIPath: application:application                           # WSGIPath: file name and followed by entry name
#                                                                 # If we go and see the app.py file there is the instance which is named as application , that's the reason
#                                                                 # Since we don't have the file name as application.py we will create it for the deployment purpose




# So for the AWS deployment this are the only settings we need to change in the code file that is 
# 1.) Creare .ebextension folder 
# 2.) Inside folder create an python.config file 
# 3.) Write the open_settings and the file path and the entry point of the application i.e  # file_name:app_instance
# 4.) Create a file named application.py if not exists then during hosting remove the debug = True


# -------------------- AWS Configuration ------------------------------- #
# 1.) In aws login to the console and then open the elasticbeanstalk applications 
# 2.) Create an application by creating the role service and an ec2 role
# 3.) Service role is for the environment and the ec2 role is for the computing 
# 4.) By selecting the roles in configure settings skip to the review and then it will take timme and create an environment
# 5.) Now our elasticbeanstalk is ready means the container containing an environment is ready 

# ----------------------- CI/CD Pipeline --------------------------------- #
# 1.) CI is continous Integration of the code on the container 
# Continuous Integration (CI)
# Developers push code to GitHub (or another VCS).
# The pipeline automatically:

# Pulls latest code
# Installs dependencies
# Runs tests
# Builds the application
# Reports errors
# Goal: Detect bugs early.

# 2.) CD is continous delivery to the conatiner
# After CI succeeds:

# Code is packaged
# Staging environment is updated
# Ready for production release
# Human approval may be required.


# ------------------------ Pipeline ------------------------------------- #
# Go to the codepipeline 
# select category custom
# Give the name and do all the process skip the build select the envs and applications initialize the git with oth app and deploy select properly
